/* App-level styles */

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(1.5vw);
  font-family: montserrat;
  color: white;
  background-color: #000000;
}

.App-link {
  color: #61dafb;
}

/*Style reset */
a {
  color:inherit;
  text-decoration: none;
}

/* Navbar styles */

.nav-container {
  width: 100%;
  max-height: 100vh;
  padding-bottom: 50%;
  background-color: none;
  position: relative;
  margin: auto;
}

.Navbar {
  display: flex;
  position: absolute;
  left: 3%;
  top: 3%;
  justify-content: space-between;
  width: 70%;
  font-size: 1.4em;
  z-index: 1;
}

.logo {
  padding: 0.8em;
  background-size: cover;
  cursor: pointer;
}

.Socials {
  display:flex;
}

.Social-icon {
  color: #b4b4b4;
  margin-left: 0.5em;
  transition-duration: 0.2s;
}

.Social-icon:hover {
  color: #fff;
  cursor: pointer;
}

/* Sidenav styles */

.Sidenav {
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 1;
}

.Sidenav-list {
  list-style-type: none;
  padding-left: 0;
}

.active-menu {
  color: #fff;
  font-size: 0.9em;
}

.inactive-menu {
  color: #b4b4b4;
  font-size: 0.8em;
  transition-duration: 0.3s;
}

.inactive-menu:hover {
  cursor: pointer;
  color: #fff;
  font-size: 0.9em;
}

/* Page styles */

.content-container {
  margin: auto;
  max-width: 65vw;
  position: absolute;
  left: 17%;
  z-index: 0;
}

.active-page {
  margin-top: 20%;
  z-index: 1;
  opacity: 1;
}

.inactive-page {
  display: none;
}

/* Home styles */

.home-container {
  display:flex;
}

.home-header {
  animation: fadeIn 1s;
}

.home-text {
  animation: fadeInDelay 1.2s;
}

.home-resume {
  animation: fadeInDelay 1.3s;
}
/* Portfolio styles */


.active-presentation {
  display: flex;
  opacity: 1;
  min-height: 21vw;
}

.inactive-presentation {
  display: none;
}

.portfolio-video {
  display: block;
  margin: auto;
  border-width:0;
  padding: 1em;
  width: 32vw;
  height: 18vw; 
  animation: fadeInDelay 1.2s;
}

.portfolio-text {
  font-size: 0.8em;
}

.portfolio-header {
  font-size: 1.5em;
}
/* Testimonial styles */

.testimonial-header {
  animation: fadeIn 1s
}

.testimonial-text {
  font-size: 0.9em;
  margin-bottom: 2em;
  animation: fadeInDelay 1.2s
}

.testimonial-testifier {
  text-align: right;
  font-size: 0.8em;
  animation: fadeInDelay 1.2s;
}

/* Music Production Styles */

.scroll-container {
  height: 18vw;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-size: 0.8em;
}

.production-card {
  min-height: 9vw;
  text-align: center;
  background: #535353;
  padding: 1em;
  border-radius: 0.3em;
  margin: 0.3em 0;
}


/* Contact Styles */

.contact-text {
  min-width: 65vw;
  animation: fadeInDelay 1.2s
}

/* UI elements */

.content-nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto
}

.nav-dots {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 1em;
}

.active-dot {
  height: 0.7vw;
  width: 0.7vw;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.inactive-dot {
  height: 0.7vw;
  width: 0.7vw;
  margin: auto;
  background-color: #b4b4b4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.inactive-dot:hover {
  cursor: pointer;
  background-color: #fff;
 
}

.nav-arrow {
  color: #b4b4b4;
  transition-duration: 0.2s ease;
}

.nav-arrow:hover {
  color: #fff;
  cursor: pointer;
}

/* Media query */

@media (max-width: 600px) {
  .portfolio-container {
    display: block;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/*Animations */

@keyframes fadeIn {
  0% {opacity:0; transform: translate(0px, -0.6em)}
  100% {opacity:1; transform: translate(0px, 0px)}

}

@keyframes fadeInDelay {
  0% {opacity:0; transform: translate(0px, -0.6em)}
  20% {opacity:0; transform: translate(0px, -0.6em)}
  100% {opacity:1; transform: translate(0px, 0px)}

}

@keyframes fadeOut {
  0% {display:block; opacity: 1;}
  100% {display:none; opacity: 0;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
